<div class="nav-bar">
  <nav class="logo">
    <img src="https://res.cloudinary.com/batch-588/image/upload/v1630987008/Beige_and_Black_Purely_Typographic_Psychiatric_Doctor_Logo_1_wfeh7k.png" alt="logo">
    <!-- <h4>Alex</h4> -->
    <ul class="nav-links">
      <li><a href="#Home">Home</a></li>
      <li><a href="#About">About</a></li>
      <li><a href="#Skills">Skills</a></li>
      <li><a href="#Projects">Projects</a></li>
      <li><a href="#Contact">Contact</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</div>

<a name="Home"></a>
<div class="home" >
  <div class="intro">
    <h1>Hello World,</h1>
    <h1>I'm <strong>Alex Vidal</strong> </h1>
    <h1>Web Developer</h1>
    <a href="https://www.canva.com/design/DAEoREhivG0/tjTcJeMG8s96Ah2mDKco8Q/view?utm_content=DAEoREhivG0&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" target=”_blank”><button class="btn btn-primary btn-contact">Résumé</button></a>
  </div>
  <div class="photo">
    <!-- <img class="profile-photo" src="https://res.cloudinary.com/batch-588/image/upload/v1630821656/20210522_LeWagon_098_kwtmx3.jpg" alt="profile-photo"> -->
  </div>
</div>

<a name="About"></a>
<div class="about">
  <h1>About Me</h1>
  <div class="about-content">
    <div class="about-profile-photo">
      <img class="about-photo" src="https://res.cloudinary.com/batch-588/image/upload/v1630814823/profile_photo_hgherl.jpg" alt="profile-photo">
    </div>
    <div class="description">
      <p>  I am an aspiring  junior web developer living in Melbourne. I spend my time on personal projects and learning more about HTML, CSS, JavaScript and Ruby on Rails. I am currently looking for new opportunities in order to further my skills.
      I'm also interested to work as freelancer. If you have an idea for a website or want to upgrade your current website contact me and we can discuss your options.
      My passions are mainly outdoor activities like surfing, riding my bike and visiting new places whenever I can. 🏄🏽‍♂️ 🚴🏼‍♂️ ✈️</p>
    </div>
  </div>
</div>

<a name="Skills"></a>
<div class="skills">
  <h1>Skills</h1>
  <div class="skills-wrap">
    <div class="thecard">
      <div class="cardfront-frontend">
        <h1>Front End</h1>
      </div>
      <div class="cardback-frontend">
        <ul class="skills-names">
          <li><i class="fab fa-html5"></i>
          <span class="skills-name">HTML5</span></li>
          <li><i class="fab fa-css3-alt"></i>
        <span class="skills-name">CSS3</span></li>
        <li><i class="fab fa-bootstrap"></i>
        <span class="skills-name"></i>Bootstrap</span></li>
          <li><i class="fab fa-figma"></i>
        <span class="skills-name">Figma UI/UX Design</span></li>
        </ul>
      </div>
    </div>
    <div class="thecard">
      <div class="cardfront-backend">
        <h1>Back End</h1>
      </div>
      <div class="cardback-backend">
        <ul class="skills-names">
          <li><span class="skills-name">💎 Ruby on Rails</span></li>
          <li><i class="fab fa-js"></i>
          <span class="skills-name">JavaScript AJAX</span></li>
          <li><i class="fas fa-code-branch"></i>
          <span class="skills-name">GIT version control</span></li>
          <li><i class="fas fa-database"></i><span class="skills-name"> PostgreSQL</span></li>
          <li><i class="fas fa-server"></i><span class="skills-name"> Heroku services</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<a name="Projects"></a>
<div class="projects">
  <h1>Projects</h1>
  <div class="card-container">
    <div class="card">
      <div class="imgBx">
        <img src="https://res.cloudinary.com/batch-588/image/upload/v1630979301/vamos_logo_gfhyvc.png" alt="">
      </div>
      <div class="content">
        <a href="https://vamos-588.herokuapp.com/" target="_blank"><h2>VAMOS!</h2></a>
        <p>Mobile app developed to help people that love outdoor activities. If you don't know what time to go out due bad weather conditions, have a look at this app!, <a href="https://youtu.be/bFHsp5ACFxc" target="_blank">(video link here).</a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="https://res.cloudinary.com/batch-588/image/upload/v1630979691/sock_logo_fg3g4o.jpg" alt="">
      </div>
      <div class="content">
        <a href="https://my-sock.herokuapp.com/" target="_blank"><h2>My Sock</h2></a>
        <p>Market place website that will help you out to find that sock you are missing.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="https://res.cloudinary.com/batch-588/image/upload/v1630476590/casino-neon-background-with-roulette-slot-machine-poker-chips-falling-premium-photo_195742-683_q54vpi.jpg" alt="">
      </div>
      <div class="content">
        <a href="https://game-room588.herokuapp.com/" target="_blank"><h2>The Game Room</h2></a>
        <p>Game apps developed for kids. If you are bored at home in lockdown, have some fun with these mini games.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="https://res.cloudinary.com/batch-588/image/upload/v1630979415/figma_logo_ck8b0f.jpg" alt="">
      </div>
      <div class="content">
        <a href="https://www.figma.com/file/PTQNyYdsq0pkivjz9nEBIN/VAMOS!?node-id=4%3A240" target="_blank"><h2>Figma Design</h2></a>
        <p>This figma mockup was part of the first step to develop VAMOS! weather app.
        </p>
      </div>
    </div>
  </div>
</div>

<a name="Contact"></a>
<div class="contact">
  <div class="form">
    <h1>Contact Me</h1>
  <form target="_blank" action="https://formsubmit.co/alexr.vidalh@gmail.com" method="POST">
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <input type="text" name="name" class="form-control" placeholder="Full Name" required>
        </div>
        <div class="col">
          <input type="email" name="email" class="form-control" placeholder="Email Address" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
    </div>
    <div class="submit-button">
      <button type="submit" class="btn btn-lg btn-dark btn-block">Submit</button>
    </div>
  </form>
  </div>
</div>


<div class="footer">
    <footer>
    <div class="footer-content">
      <h3>Follow Me</h3>
      <ul class="socials">
          <li><a href="https://www.linkedin.com/in/alexvidal88/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://github.com/alexvidal88" target="_blank"><i class="fab fa-github"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>copyright &copy;<%= @year_now %> designed by Alex Vidal </p>
    </div>
  </footer>
</div>
