.about{
  height: 100vh;
  margin-top: 100px;
}

.about-content{
  width: 80%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin: auto;
}

.about h1{
  text-align: center;
  color: #3F70EC;
  margin-bottom: 30px;
}

/*.about h1:hover{
  text-decoration: underline;
}*/

.about-photo{
  width: 50%;
  height: 50%;
  text-align: center;
  border-radius: 5px;
}

.about-profile-photo{
  text-align: center;
  width: 50%;
  margin: auto;
}


.description{
  width: 50%;
  text-align: justify;
  padding-right: 40px;
  margin: auto;

  p{
    font-size: 1rem;
  }
}

@media screen and (max-width: 1024px){
  .about-photo{
    width: 70%;
    height: 70%;
    text-align: center;
    border-radius: 5px;
  }

  .description p{
    font-size: 0.9rem;
  }
}


@media screen and (max-width: 768px){
  .about-content{
    display: block;
  }

  .about-photo{
    width: 80%;
    height: 80%;
    text-align: center;
    border-radius: 5px;
  }

  .about-profile-photo{
    padding-bottom: 30px;
  }

  .description{
    width: 100%;
    padding: 30px;
    text-align: justify;

    p{
      font-size: 0.8rem;
    }
  }
}
