.home{
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://res.cloudinary.com/batch-588/image/upload/v1644468903/portfolio%20website/home_geuom6.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  /*padding-bottom: 80px;*/

  h1{
    font-size: 4rem;
    color: white;
    font-family: 'Poppins', sans-serif;
  }

}

.photo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.profile-photo{
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
  border-radius: 64% 35% 50% 49% / 35% 24% 76% 64%;
  width: 400px;
  height: 350px;
}

.btn-contact{
  margin-top: 20px;
  background-color: #3F70EC;
  border-radius: 5px;
  border-color: #3F70EC;
}

strong{
  color: #3F70EC;
}


@media screen and (max-width: 1024px){
  .profile-photo{
    width: 300px;
    height: 250px;
  }
}

@media screen and (max-width: 768px){
  .home{
    display: block;

    h1{
      font-size: 3rem;
    }
  }

  .intro{
    padding-top: 100px;
    padding-left: 50px;
  }
}
