.skills{
  height: 100vh;
  margin-top: 100px;
}

.skills-wrap{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.skills-content{
  flex-direction: column;
  width: 50%;
}

.skills h1{
  text-align: center;
  padding-top: 30px;
  color: #3F70EC;
}

.skills-work{
  text-align: center;
  justify-items: center;
  width: 50%;
}

.skills-work-photo{
  width: 250px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
}

.skills-names{
  text-align: center;
}

.skills-data{
  opacity: 0.7;
  width: 50%;
  border-style: solid;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-bottom: 10px ;
  border-radius: 5px;
}

.skills-data:hover {
  opacity: 1;
}


@media screen and (max-width: 768px){
  .skills-wrap{
    flex-direction: column;
    text-align: center;
  }

  .skills-names{
    text-align: center;
  }

  .skills-content{
    padding-bottom: 50px;
    width: 100%;
  }

  .skills-work{
    text-align: center;
    justify-items: center;
    width: 100%;
  }
}
